/* All portrait devices smaller than an ipad */
@media screen and (orientation: portrait) and (max-width: 767px) {
  header {
    height: 5vh;
    padding: 0 3vw;
  }

  a.button, form button {
    font-size: 2.5vw;
    padding: 1.4vw 2vw;
  }

  .section {
    background-attachment: scroll;
  }

  section.p1::after {
    background-attachment: scroll;
    background-position: 15% 0;
  }

  section.p1 hgroup h1 {
    font-size: calc(12px + 6vw);
    line-height: calc(12px + 6vw);
  }

  section.p1 hgroup h2 {
    font-size: calc(12px + 3vw);
    line-height: calc(12px + 3vw);
  }

  section.p2 {
    background-position: 85% 0;
  }

  section.p3 {
    background-position: 70% 0;
  }

  section.p4 {
    background-position: 65% 0;
  }

  section.copy hgroup h1 {
    font-size: calc(12px + 3vw);
    line-height: calc(12px + 3vw);
  }

  .how-we-work-with-you {
    flex-wrap: wrap;
  }

  section.copy hgroup h2 {
    font-size: 4vw;
    line-height: 4.5vw;
  }

  #rocket-tree {
    height: 240px;
    padding-right: 0;
  }

  section.copy hgroup .favorites h3 {
    font-size: 3.5vw;
    line-height: 4vw;
  }

  #get-in-touch figure img {
    margin-left: 0;
  }

  form input, form textarea {
    width: 45vw;
  }
}
