html, body {
    background-color: #000;
    color: #515b69;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    height: 100%;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
}

a {
    color: #e45d30;
    text-decoration: none;
}


/*
    Main nav
*/
header {
    left: 0;
    padding: 1vw 1vw 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: 1s;
    width: calc(100% - 2vw);
    z-index: 999;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    transition: 1s;
}

header h1 {
    display: inline-block;
}

header h1 span.title {
    left: -9999999999px;
    overflow: hidden;
    position: absolute;
}

.main-nav {
    float: right;
    padding-top: 1vh;
    text-align: right;
    width: 70vw;
}

.main-nav li {
    display: inline-block;
    padding: 0 2vw;
}

.main-nav a {
    color: #fff;
    font-size: 1vw;
    font-weight: 200;
}

.main-nav a:hover {
    text-decoration: underline;
}


/*
    Parallax Images
*/
.section {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.5vh solid #000;
    border-top: 0.5vh solid #000;
    min-height: 70%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.p1 {
    border-top: 0;
    height: 100%;
    z-index: 1;
}

.p1::before {
    background-attachment: fixed;
    background-image: url('../images/grafft_rocket_tree.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.p2 {
    background-image: url('../images/programming.jpg');
}

.p3 {
    background-image: url('../images/technology.jpg');
}

.p4 {
    background-image: url('../images/planning.jpg');
}


/*
    Main Header Copy
*/
.p1 hgroup {
    position: absolute;
    text-align: center;
    top: 45%;
    width: 100%;
}

.p1 hgroup h1 {
    color: #fff;
    font-size: 5vw;
    font-weight: 200;
    line-height: 4vw;
    margin-bottom: 3vw;
}

.p1 hgroup h2 {
    color: #fff;
    font-size: 2vw;
    font-weight: 200;
    line-height: 2vw;
}



/*
    Text sections between the parallax images
*/
.section-light {
    background-color: #fff;
}

section.copy {
    padding: 7vw 7vh;
}

section.copy hgroup {
    width: 80vw;
}

section.copy-left {
    padding-left: 10vw;
}

section.copy hgroup h1 {
    font-size: 3vw;
    font-weight: 300;
    margin-bottom: 1.5vw;
}

section.copy hgroup h2 {
    font-size: 1.7vw;
    font-weight: 200;
    line-height: 2vw;
    margin-bottom: 2vw;
}

section.copy hgroup h3 {
    font-size: 1.2vw;
    line-height: 2vw;
}


/*
    How we work with you
*/
.how-we-work-with-you h2 {
    width: 60vw;
}

.how-we-work-with-you h3 {
    width: 30vw;
}
