/* All portrait devices */
@media screen and (orientation: portrait) {
  header h1 img {
    height: 5vw;
  }

  section.copy hgroup h1 {
    font-size: calc(12px + 3vw);
    margin-bottom: 4vw;
  }

  section.copy hgroup h2 {
    font-size: 3vw;
    line-height: 3.2vw;
  }

  .favorites ul {
    justify-content: center;
  }

  section.copy hgroup section.favorites h3 {
    font-size: 2.5vw;
  }

  section.copy hgroup ul li {
    font-size: 1.5vw;
    margin: 2vw 2.4vw 0 0;
  }

  section.p1 hgroup h2 {
    font-size: 2.5vw;
    line-height: 3vw;
  }

  section.what-we-do hgroup h1 {
    font-size: 4vw;
    line-height: 4.5vw;
  }

  #get-in-touch figure img {
    height: 28vh;
  }

  #contact-form h1, #contact-form h2 {
    width: auto;
  }
}
